USE [master]
GO
/****** Object:  Database [taxi]    Script Date: 13/10/2021 22:33:08 ******/
CREATE DATABASE [taxi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'taxi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\taxi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'taxi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\taxi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [taxi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [taxi]
GO
/****** Object:  Table [dbo].[Sesion]    Script Date: 13/10/2021 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesion](
	[idSesion] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Sesion] PRIMARY KEY CLUSTERED 
(
	[idSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taxi]    Script Date: 13/10/2021 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxi](
	[idTaxi] [int] IDENTITY(1,1) NOT NULL,
	[estado] [nchar](50) NOT NULL,
	[ubicacion] [nchar](50) NOT NULL,
	[destino] [nchar](50) NULL,
 CONSTRAINT [PK_Taxi] PRIMARY KEY CLUSTERED 
(
	[idTaxi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 13/10/2021 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](10) NOT NULL,
	[correo] [nchar](10) NOT NULL,
	[tlf] [nchar](10) NOT NULL,
	[metodo_pago] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viaje_Taxi]    Script Date: 13/10/2021 22:33:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viaje_Taxi](
	[idViaje_Taxi] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_idUsuario] [int] NOT NULL,
	[Taxi_idTaxi] [int] NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[origen] [nvarchar](50) NOT NULL,
	[destino] [nvarchar](50) NOT NULL,
	[coste] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Viaje_Taxi] PRIMARY KEY CLUSTERED 
(
	[idViaje_Taxi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sesion]  WITH NOCHECK ADD  CONSTRAINT [FK_Sesion_Usuario] FOREIGN KEY([Usuario_idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
ON DELETE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Sesion] NOCHECK CONSTRAINT [FK_Sesion_Usuario]
GO
ALTER TABLE [dbo].[Viaje_Taxi]  WITH NOCHECK ADD  CONSTRAINT [FK_Viaje_Taxi_Taxi] FOREIGN KEY([idViaje_Taxi])
REFERENCES [dbo].[Taxi] ([idTaxi])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Viaje_Taxi] NOCHECK CONSTRAINT [FK_Viaje_Taxi_Taxi]
GO
ALTER TABLE [dbo].[Viaje_Taxi]  WITH NOCHECK ADD  CONSTRAINT [FK_Viaje_Taxi_Usuario] FOREIGN KEY([Usuario_idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Viaje_Taxi] NOCHECK CONSTRAINT [FK_Viaje_Taxi_Usuario]
GO
USE [master]
GO
