<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaxApp.Properties.Settings.taxiConnectionString" connectionString="Data Source=localhost;Initial Catalog=taxi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TaxApp.Properties.Settings.taxiConnection" connectionString="Data Source=LAPTOP-3JQ7F1RA;Initial Catalog=taxi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>